<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntados - Lobby</title>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="./public/css/categoriasView.css">
</head>

<body>

{{> header}}

<main>

    <div class="welcome-card">
        <h1>
            <span>Moderación</span>
            Editar categoria
        </h1>
    </div>

    <div class="form-wrapper">

        <form class="categoria-form"
              action="{{accion}}"
              method="POST">


            {{#categoria}}
                <input type="hidden" name="id" value="{{id}}">
            {{/categoria}}

            <div class="form-group">
                <label for="nombre">Nombre</label>

                <input
                        id="nombre"
                        type="text"
                        name="nombre"
                        value="{{categoria.nombre}}"
                        required>
            </div>

            <div class="form-group">
                <label for="color">Color</label>

                <input
                        id="color"
                        type="color"
                        name="color"
                        value="{{color}}">
            </div>

            <div class="form-actions">

                <a href="?controller=categoria&method=index"
                   class="btn-volver-categoria">
                    Volver
                </a>

                <button
                        type="submit"
                        class="btn-guardar-categoria">
                    Guardar categoría
                </button>

            </div>

        </form>

    </div>

</main>

{{> footer}}


</body>
</html>