<link rel="stylesheet" href="./public/css/header.css">

<header>
    <a href="?controller=home&method=index" class="logo">
        Preguntados
    </a>

    <div class="header-right">

        {{#logueado}}
            <div class="header-perfil">

                <a href="?controller=perfil&method=index"
                   class="avatar"
                   title="Ver perfil">

                    {{#foto_perfil}}
                        <img src="{{foto_perfil}}" alt="Foto de perfil">
                    {{/foto_perfil}}

                    {{^foto_perfil}}
                        {{inicial}}
                    {{/foto_perfil}}

                </a>

                <div class="header-user-info">

        <span class="header-username">
            {{nombre_usuario}}
        </span>

                    <div class="header-stats">
            <span class="header-puntaje">
                {{puntaje_total}} pts
            </span>

                        <span class="header-nivel">
                            {{nivel}}
                        </span>
                    </div>

                </div>

            </div>

            <a href="?controller=login&method=logout"
               class="header-logout"
               title="Cerrar sesión">

                Salir

            </a>
        {{/logueado}}


        {{^logueado}}
            <a href="?controller=login&method=index"
               class="header-logout"
               title="Iniciar sesión">

                Iniciar sesión

            </a>

            <a href="?controller=user&method=registrarUsuario"
               class="header-logout"
               title="Registrarse">

                Registrarse

            </a>
        {{/logueado}}

    </div>
</header>