<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntados - Lobby</title>

    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
<main>


    <div class="login-card">

        <h1>Iniciar Sesión</h1>

        {{#success}}
            <div class="success-message">
                Cuenta activada correctamente.
                Ya podés iniciar sesión.
            </div>
        {{/success}}

        <form action="?controller=login&method=autenticar" method="POST">
            <label for="usuario">Usuario</label>
            <input type="text"
                   id="usuario"
                   name="nombre_usuario"
                   required
            >

            <label for="contrasenia">Contraseña</label>
            <input type="password"
                   id="contrasenia"
                   name="contrasenia"
                   required
            >

            <button type="submit" class="btn-login">Ingresar</button>

        </form>

    </div>

</main>
{{> footer}}

</body>



</html>